/* variables */
:root {
	/* light theme */
	--background-color: #cacaca;
	--logo-background: #060e19;
	--text-color: #000000;
	--nav-background: #ffffff;
	--search-bar: #bce5ff;
	--hover-color: #bce5ff;
	--accent-color: #01ffff;
	--aside-background-color: #bce5ff;
	--main-content-background: #ffffff;
	--category-button: #5ab5ff;
	--box-shadow-color: rgba(0, 0, 0, 0.3);
	--menu-background: #ffffff;
	--menu-text-color: #5ab5ff;
	--pathway-background: #89caff;
	--focus-color: #5ab5ff;
}
/* dark theme */
.dark-mode {
	--background-color: #060e19;
	--logo-background: transparent;
	--text-color: #e1efff;
	--nav-background: #000d22;
	--search-bar: #062234;
	--hover-color: #0d3a5f;
	--accent-color: #01ffff;
	--aside-background-color: #0d3a5f;
	--main-content-background: #000d22;
	--category-button: #f00;
	--box-shadow-color: rgba(1, 255, 255, 0.3);
	--menu-background: #ffffff;
	--menu-text-color: #5ab5ff;
	--pathway-background: #000;
	--focus-color: #5ab5ff;
}
@font-face {
	font-family: "Poppins";
	src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-decoration: none;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
}
.container {
	width: 80%;
	margin-inline: auto;
}
/* navigation bar */
nav {
	background-color: var(--nav-background);
	color: var(--text-color);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-inline: auto;
}
nav a img {
	box-sizing: content-box;
	padding: 1rem;
	margin-top: 0.4rem;
	border-radius: 20px;
	width: 5ch;
	background-color: var(--logo-background);
}
form {
	display: inline-block;
	position: relative;
	width: 40ch;
}

.searchInput {
	width: 100%;
	padding: 0.7em 4em 0.7em 1em;
	border-radius: 2em;
	border: none;
	margin-right: 0;
	background-color: var(--search-bar);
	font-size: 1rem;
	color: var(--text-color);
}
.searchInput::placeholder {
	color: var(--text-color);
}
.searchInput:focus {
	outline: 3px solid var(--focus-color);
	outline-offset: 2px;
}
.searchButton {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background-color: transparent;
	padding: 0.4rem 1rem 0.2rem 1rem;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	fill: var(--text-color);
	transition: fill 0.2s;
}
.searchButton:hover {
	cursor: pointer;
	fill: var(--hover-color);
}
.accountButton,
.wishlistButton,
.cartButton,
.light-dark-mode-button {
	padding-top: 0.4rem;
	background-color: transparent;
	border: none;
	fill: var(--text-color);
	font-size: 1.2rem;
	cursor: pointer;
	width: 2rem;
	transition: fill 0.2s;
	margin-inline: 0.2rem;
}
.accountButton:hover,
.wishlistButton:hover,
.cartButton:hover,
.light-dark-mode-button:hover {
	fill: var(--hover-color);
}
.account-menu,
.wishlist-menu,
.cart-menu {
	position: relative;
	display: inline-block;
}
.light-dark-mode {
	display: inline-block;
}
.light-dark-mode-button {
	transition: 0s;
	padding-top: 0rem;
	position: relative;
	height: 2rem;
}
.light-mode-icon {
	/* opacity: 1; */
	position: absolute;
	transition: 0.3s ease;
	top: 0;
	left: 0;
}
.dark-mode-icon {
	/* opacity: 0; */
	position: absolute;
	transition: 0.3s ease;
	top: 0;
	left: 0;
}
.account-list {
	z-index: 1;
	visibility: hidden;
	position: absolute;
	right: 0;
	transform: translateX(35%);
	background-color: var(--menu-background);
	color: var(--menu-text-color);
	border-radius: 0.75em;
	min-width: 16ch;
}
.account-list li {
	list-style: none;
	text-align: center;
}
.account-list li a {
	display: block;
	color: var(--text-color);
	text-decoration: none;
	width: 100%;
	padding-block: 0.5em;
}
.account-list li button {
	background-color: transparent;
	border: none;
	color: var(--text-color);
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
	padding-block: 0.5em;
}
.account-list li:hover {
	background-color: var(--hover-color);
}
.account-list li:first-child {
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
}
.account-list li:not(:last-child) {
	color: var(--dark-text);
	text-decoration: none;
	border-inline: 1px solid var(--text-color);
	border-block-start: 1px solid var(--text-color);
}
.account-list li:last-child {
	border-inline: 1px solid var(--text-color);
	border-block: 1px solid var(--text-color);
	border-bottom-left-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
}
/* second nav bar */
.categoryButton {
	position: relative;
	background-color: var(--category-button);
	border-radius: 5px;
	border: none;
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: var(--text-color);
	cursor: pointer;
	padding-left: 0.5rem;
	transition: 0.3s ease;
	width: 20ch;
}
.categoryButton svg {
	margin-left: auto;
	fill: var(--text-color);
	transform: rotate(180deg);
	transition: 0.3s ease;
}
.category-menu-container {
	position: absolute;
	visibility: hidden;
	/* top: 32px; */
	top: 32px;
	z-index: 1;
	overflow-y: hidden;
	overflow-x: visible;
	width: 40ch;
}
.category-menu {
	display: block;
	max-width: 20ch;
	/* visibility: hidden; */
	/* opacity: 0; */
	color: var(--menu-text-color);
	background-color: var(--menu-background);
	padding-inline: 0.5rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translateY(-166px);
	transition: 0.3s ease;
}
.category-first-tree ul {
	padding-top: 1px;
}
.category-first-tree li {
	list-style: none;
	padding-block: 0.25rem;
	border-block: 0.25px solid var(--menu-text-color);
}
.category-first-tree li:first-child {
	border-top: 1px solid var(--menu-text-color);
}
.category-first-tree li:last-child {
	border-bottom: none;
	/* background-color: blue; */
}
.category-first-tree li::after {
	float: right;
	content: ">";
	padding-inline: 0.5rem;
}

.category-second-tree {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 20ch;
	list-style: none;
	color: var(--menu-text-color);
	background-color: var(--menu-background);
	width: 20ch;
}
.category-second-tree li {
	list-style: none;
}

aside {
	position: relative;
	display: flex;
	align-items: center;
	padding-inline: 5%;
	background-color: var(--aside-background-color);
	padding-block: 0.5rem;
}
.pathway {
	display: inline;
	margin-left: 1rem;
}
.pathway li {
	display: inline-block;
	list-style: none;
	padding-inline: 0.5rem;
	background-color: var(--pathway-background);
}
.pathway li:after {
	content: ">";
	padding-inline: 0.5rem 0.2rem;
}

/* main content */
main {
	margin-inline: auto;
}
.header {
	position: relative;
}
.header-img {
	width: 100%;
	height: 15vh;
	background-image: url("assets/images/pexels-bertellifotografia-19012051.jpg");
	background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	filter: blur(1.5px);
}
.header-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.header-wrapper h1 {
	margin-right: 4rem;
	color: white;
	font-size: 4rem;
	text-wrap: nowrap;
}
.header-wrapper svg {
	fill: white;
	margin-top: 0.5rem;
	height: 10rem;
}
.content-container {
	display: grid;
	grid-template-columns: minmax(150px, 1fr) auto;
	background-color: var(--main-content-background);
}
.filter-list {
	grid-column: 1/2;
	min-width: 20ch;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 2rem;
	margin: 5rem 2rem 5rem 0;
}
.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 30ch;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 0 0 10px var(--box-shadow-color);
}
.product-card img {
	width: 120px;
	margin-bottom: 2rem;
}
.product-card h2 {
	font-size: 1.2rem;
	color: var(--text-color);
}
.product-card span {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--text-color);
	margin-top: 1rem;
}
.product-card ul {
	list-style: square;
	margin-top: 1rem;
	margin-inline: 2rem;
}

/* CSS classes for JS */
.visible {
	visibility: visible;
	/* opacity: 1; */
}
.rotate {
	transform: rotate(0deg);
}
.background-transition {
	transition: 0.3 ease;
}
.category-menu-visible {
	transform: translateY(0px);
}
/* media queries */
/* min width for normal display > below this width change all to mobile version */
@media screen and (max-width: 750px) {
}
