.dark-mode,
:root {
	--text-hover-color: #ffffff;
	--accent-color: #01ffff;
	--menu-text-color: #5ab5ff;
	--account-menu-close-hover-color: #008cff;
	--focus-color: #5ab5ff;
	--card-bt-color: ;
	--card-hover-color: ;
	--card-text-hover-color: ;
	--scroll-to-top-bg-color: ;
	--scroll-to-top-color: ;
	--pathway-border: #5ab5ff;
}
.accountButton:hover,
.cartButton:hover,
.light-dark-mode-button:hover,
.searchButton:hover,
.wishlistButton:hover {
	fill: var(--hover-color);
}
*,
.account-list li a {
	text-decoration: none;
}
.container-close-button button,
.searchButton {
	fill: var(--text-color);
	background-color: transparent;
}
.container,
main,
nav {
	margin-inline: auto;
}
:root {
	--background-color: #cacaca;
	--logo-background: #060e19;
	--text-color: #000000;
	--nav-background: #ffffff;
	--search-bar: #bce5ff;
	--hover-color: #bce5ff;
	--aside-background-color: #bce5ff;
	--main-content-background: #ffffff;
	--category-button: #5ab5ff;
	--box-shadow-color: rgba(0, 0, 0, 0.3);
	--menu-background: #ffffff;
	--account-menu-background: #ffffff2e;
	--filter-list-background: #bce5ff;
	--product-new-tag-background-color: #bce5ff;
	--product-new-tag-color: #4b4b4b;
	--card-bt-bg-color: ;
	--pathway-background: #89caff;
	--btn-color: #89caff;
	--btn-border-color: #5ab5ff;
	--btn-hover-color: #5ab5ff;
	--btn-text-color: #000000;
	--placeholder-color: #0000004c;
	--form-span-background: #89caff;
	--input-background: #89caff;
}
.dark-mode {
	--background-color: #060e19;
	--logo-background: transparent;
	--text-color: #e1efff;
	--nav-background: #000d22;
	--search-bar: #062234;
	--hover-color: #0d3a5f;
	--aside-background-color: #0d3a5f;
	--main-content-background: #000d22;
	--category-button: #0064b7;
	--box-shadow-color: rgba(1, 255, 255, 0.3);
	--menu-background: #005e7e;
	--account-menu-background: #000000e2;
	--filter-list-background: #0d3a5f;
	--product-new-tag-background-color: #5ab5ff;
	--product-new-tag-color: #000000;
	--card-bt-bg-color: #5ab5ff;
	--pathway-background: #062234;
	--btn-color: #062234;
	--btn-border-color: #062234;
	--btn-hover-color: #0d3a5f;
	--btn-text-color: #e1efff;
	--placeholder-color: #e1efff4c;
	--form-span-background: #062234;
	--input-background: #062234;
}
@font-face {
	font-family: Poppins;
	src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
}
.container {
	width: 90%;
}
.popup-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #00000099;
	z-index: 1001;
}
.popup-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	color: #000;
	border-radius: 1rem;
	height: fit-content;
	z-index: 1001;
}
.account-list li a,
.account-list li button,
.searchInput,
nav {
	color: var(--text-color);
}
.popup-message span {
	display: block;
	text-align: center;
	text-wrap: nowrap;
	padding: 2rem;
	font-size: 2rem;
	margin: 3rem;
}
.popup-header {
	text-decoration: underline;
}
.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}
nav {
	background-color: var(--nav-background);
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.light-dark-mode,
form {
	display: inline-block;
}
nav a img {
	box-sizing: content-box;
	padding: 1rem;
	margin-top: 0.4rem;
	border-radius: 20px;
	width: 5ch;
	background-color: var(--logo-background);
}
form {
	position: relative;
	width: 40ch;
}
.searchInput {
	width: 100%;
	padding: 0.7em 4em 0.7em 1em;
	border-radius: 2em;
	border: none;
	margin-right: 0;
	background-color: var(--search-bar);
	font-size: 1rem;
}
.searchInput::placeholder {
	color: var(--text-color);
}
.account-form input:focus,
.registration-form input:focus,
.searchInput:focus {
	outline: 3px solid var(--focus-color);
	outline-offset: 2px;
}
.searchButton {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	padding: 0.4rem 1rem 0.2rem;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	transition: fill 0.2s;
}
.searchButton:hover {
	cursor: pointer;
}
.accountButton,
.cartButton,
.light-dark-mode-button,
.wishlistButton {
	padding-top: 0.4rem;
	background-color: transparent;
	border: none;
	fill: var(--text-color);
	font-size: 1.2rem;
	cursor: pointer;
	width: 2rem;
	transition: fill 0.2s;
	margin-inline: 0.2rem;
}
.account-list,
.account-registration,
.account-sign-in {
	background-color: var(--menu-background);
	visibility: hidden;
}
.account-menu,
.cart-menu,
.wishlist-menu {
	position: relative;
	display: inline-block;
}
.light-dark-mode-button {
	transition: none;
	padding-top: 0;
	position: relative;
	height: 2rem;
}
.dark-mode-icon,
.light-mode-icon {
	position: absolute;
	transition: 0.3s;
	top: 0;
	left: 0;
}
.account-list {
	z-index: 1;
	position: absolute;
	right: 0;
	transform: translateX(35%);
	color: var(--menu-text-color);
	border-radius: 0.75em;
	min-width: 16ch;
}
.account-list li {
	list-style: none;
	text-align: center;
}
.account-list li a {
	display: block;
	width: 100%;
	padding-block: 0.5em;
}
.account-list li button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	width: 100%;
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
	padding-block: 0.5em;
}
.account-list li:hover,
.scrollToTop:hover {
	background-color: var(--hover-color);
}
.account-list li:first-child {
	border-top-left-radius: 0.75em;
	border-top-right-radius: 0.75em;
}
.account-list li:not(:last-child) {
	color: var(--dark-text);
	text-decoration: none;
	border-inline: 1px solid var(--text-color);
	border-block-start: 1px solid var(--text-color);
}
.account-list li:last-child {
	border-inline: 1px solid var(--text-color);
	border-block: 1px solid var(--text-color);
	border-bottom-left-radius: 0.75em;
	border-bottom-right-radius: 0.75em;
}
.account-container {
	visibility: hidden;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 999;
}
.account-container::before {
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(3px);
	position: absolute;
	background-color: var(--account-menu-background);
}
.container-close-button button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	border: none;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	transition: 0.3s;
}
.container-close-button button:hover {
	fill: var(--account-menu-close-hover-color);
}
.account-registration,
.account-sign-in {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50vh;
	border-radius: 20px;
	box-shadow: 0 0 10px var(--box-shadow-color);
}
.account-form,
.registration-form {
	display: grid;
	grid-template: 1fr 1fr;
	gap: 1rem;
	padding: 0 3rem 1rem;
	height: 100%;
	width: 50ch;
	border-radius: 10px;
}
.account-form span,
.registration-form span {
	grid-column: 1/3;
	text-align: center;
	margin-bottom: 2rem;
	background-color: var(--form-span-background);
	padding-block: 1rem;
	max-height: max-content;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-transform: uppercase;
	font-size: 1.5rem;
	width: calc(100% + 6rem);
	transform: translateX(-3rem);
}
.account-form label[for="email"],
.account-form label[for="password"],
.registration-form label[for="confirmEmail"],
.registration-form label[for="confirmPassword"],
.registration-form label[for="dob"],
.registration-form label[for="email"],
.registration-form label[for="password"] {
	grid-column: 1/2;
	padding-top: 0.5rem;
	text-wrap: nowrap;
}
.account-form input[type="email"],
.account-form input[type="password"],
.registration-form input[type="date"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
	grid-column: 2/3;
	background-color: var(--input-background);
	border-radius: 5px;
	padding: 0.5rem;
	width: 25ch;
	border: none;
	max-height: max-content;
	justify-self: end;
	color: var(--text-color);
}
.account-form button[type="submit"],
.registration-form button[type="submit"] {
	grid-column: 1/3;
	margin-top: 0.5rem;
	transform: translateY(2.4rem);
}
.account-form input::placeholder,
.registration-form input::placeholder {
	color: var(--placeholder-color);
}
.registration-form div {
	text-align: center;
	grid-column: span 2;
	width: 100%;
}
.account-form button,
.registration-form button {
	grid-column: 1/3;
	max-height: max-content;
	padding-block: 0.5rem;
	font-size: 1rem;
	width: calc(100% + 6rem);
	justify-self: center;
	border: 2px solid var(--btn-border-color);
	background-color: var(--btn-color);
	color: var(--btn-text-color);
}
.account-form button:hover,
.registration-form button:hover {
	background-color: var(--btn-hover-color);
}
.account-form button:not([type="submit"]),
.registration-form button:not([type="submit"]) {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transform: translateY(1.2rem);
}
.account-form button[type="submit"] {
	transform: translateY(7rem);
}
.account-form button:not([type="submit"]) {
	transform: translateY(3.5rem);
}
.categoryButton {
	position: relative;
	background-color: var(--category-button);
	border-radius: 5px;
	border: none;
	display: flex;
	align-items: center;
	font-size: 1rem;
	color: var(--text-color);
	cursor: pointer;
	padding-left: 0.5rem;
	width: 20ch;
}
.category-menu,
.category-second-tree {
	color: var(--menu-text-color);
	background-color: var(--menu-background);
}
.categoryButton svg {
	margin-left: auto;
	fill: var(--text-color);
	transform: rotate(180deg);
	transition: 0.3s;
}
.category-menu-container {
	position: absolute;
	visibility: hidden;
	top: 78%;
	z-index: 1;
	overflow-y: hidden;
	overflow-x: visible;
	width: 40ch;
}
.category-menu {
	display: block;
	max-width: 20ch;
	padding-inline: 0.5rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transform: translateY(-166px);
	transition: 0.3s;
}
.category-first-tree ul {
	padding-top: 1px;
}
.category-first-tree li {
	list-style: none;
	padding-block: 0.25rem;
	border-block: 0.25px solid var(--menu-text-color);
}
.category-first-tree li:first-child {
	border-top: 1px solid var(--menu-text-color);
}
.category-first-tree li:last-child {
	border-bottom: none;
}
.category-first-tree li::after {
	float: right;
	content: ">";
	padding-inline: 0.5rem;
}
.pathway li:last-child::after,
.pathway li:not(:first-child)::before,
.pathway li:not(:last-child)::after {
	content: "";
	position: absolute;
	background-color: var(--aside-background-color);
	top: -1px;
	width: 1rem;
	height: calc(100% + 2px);
}
.category-second-tree {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 20ch;
	list-style: none;
	width: 20ch;
}
.header,
.pathway li,
aside {
	position: relative;
}
.category-second-tree li,
.sort-menu li {
	list-style: none;
}
aside {
	display: flex;
	align-items: center;
	padding-inline: 5%;
	background-color: var(--aside-background-color);
	padding-block: 0.5rem;
}
.pathway {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.pathway li {
	list-style: none;
	background-color: var(--pathway-background);
	padding-block: 2px;
}
.pathway li:first-child {
	padding-inline-end: 0.5rem;
}
.pathway li:not(:first-child) {
	margin-inline-start: -1rem;
}
.pathway li:not(:last-child)::after {
	clip-path: polygon(20% 0, 70% 50%, 20% 100%, 0 100%, 50% 50%, 0 0);
	right: -1px;
}
.pathway li:last-child::after {
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 50% 50%, 0% 0%);
	right: -1px;
}
.pathway li:not(:first-child)::before {
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 30% 100%, 80% 50%, 30% 0);
	left: -1px;
}
.pathway li a {
	color: var(--text-color);
	padding-inline: 1rem;
}
.pathway li:not(:first-child) a {
	margin-inline-start: 0.5rem;
	padding-inline-end: 1.5rem;
}
.header-img {
	width: 100%;
	height: 15vh;
	background-image: url("assets/images/pexels-bertellifotografia-19012051.jpg");
	background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
	filter: blur(1.5px);
}
.header-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.header-wrapper h1 {
	margin-right: 4rem;
	color: #fff;
	font-size: 4rem;
	text-wrap: nowrap;
}
.product-card h2,
.product-card span {
	font-size: 1.2rem;
	color: var(--text-color);
}
.header-wrapper svg {
	fill: white;
	margin-top: 0.5rem;
	height: 10rem;
}
.content-container {
	display: grid;
	grid-template-columns: minmax(150px, 1fr) 5fr;
	background-color: var(--main-content-background);
}
.filter-list {
	grid-column: 1;
	grid-row: 1/3;
	min-width: 20ch;
	padding: 1rem;
	background-color: var(--filter-list-background);
	color: var(--text-color);
}
.filter-category {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}
.filter-category span {
	border-bottom: 1px solid var(--menu-text-color);
}
.filter-category div:nth-child(2) {
	margin-top: 0.3rem;
}
.sort-menu {
	float: right;
	margin: 1.5rem 4rem 0 0;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 2rem;
	margin: 5rem 2rem 2rem;
}
.product-card span:first-child {
	background-color: var(--product-new-tag-background-color);
	color: var(--product-new-tag-color);
	padding-inline: 2rem;
	border-radius: 0.5rem;
}
.product-card img {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
}
.product-card span {
	font-weight: 700;
	margin-top: 1rem;
}
.product-card ul {
	list-style: square;
	margin-top: 1rem;
	margin-inline: 2rem;
}
.product-card a {
	text-align: center;
	margin-top: 1rem;
}
.product-card button {
	cursor: pointer;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.card-button,
.scrollToTop {
	background-color: var(--card-bt-bg-color);
	border: 4px solid var(--card-bt-bg-color);
}
.card-button {
	color: var(--card-bt-color);
	width: calc(100% + 2rem);
	padding-block: 0.5rem;
	transition: 0.3s;
}
.product-card a:hover,
.product-card button:hover {
	background-color: var(--card-hover-color);
	color: var(--card-text-hover-color);
}
.scrollToTop {
	color: var(--scroll-to-top-color);
	width: 100%;
	padding-block: 1rem;
	text-align: center;
	font-size: 1.5rem;
	grid-row: 5;
	grid-column: 1/4;
	border-radius: 1rem;
}
.footer {
	width: 100%;
	height: 5vh;
	background-color: red;
}
.visible {
	visibility: visible;
}
.rotate {
	transform: rotate(0);
}
.category-menu-visible {
	transform: translateY(0);
}
.overflow-hidden {
	overflow: hidden;
}
@media screen and (max-width: 1280px) {
	.header-wrapper h1 {
		font-size: 3rem;
		text-wrap: nowrap;
	}
	.header-wrapper svg {
		height: 8rem;
	}
}
@media screen and (max-width: 800px) {
	.header-img {
		height: 10vh;
	}
	.header-wrapper h1 {
		font-size: 2rem;
		text-wrap: nowrap;
	}
	.header-wrapper svg {
		height: 6rem;
	}
}
@media screen and (max-width: 480px) {
	nav {
		display: none;
	}
	.container {
		width: 80%;
	}
	.header-img {
		height: 10vh;
	}
	.header-wrapper h1 {
		font-size: 1.5rem;
		margin-right: 0;
	}
	.header-wrapper svg {
		height: 4rem;
	}
	.header-wrapper {
		flex-direction: column;
	}
}
